body:not(.arabic-mode) .exam-header.three-cell-header .right-header-cell {
  grid-column: 1 !important;
  grid-row: 1 !important;
  border-right: 3px solid #111 !important;
}

body:not(.arabic-mode) .exam-header.three-cell-header .middle-header-cell {
  grid-column: 2 !important;
  grid-row: 1 !important;
}

body:not(.arabic-mode) .exam-header.three-cell-header .left-header-cell {
  grid-column: 3 !important;
  grid-row: 1 !important;
  border-right: 0 !important;
}

body:not(.arabic-mode) .split-title-cell .title-line-middle {
  order: 3 !important;
}

body:not(.arabic-mode) .split-title-cell .title-line-bottom {
  order: 2 !important;
}
